:root
{
	--color: hsla(0, 7%, 74%, 1);
	--color-transparent: hsla(0, 7%, 74%, 0.5);
	--color-bg: hsla(0, 0%, 10%, 1);
	--color-bg-lighten: hsla(0, 0%, 30%, 1);
	--color-bg-darken: hsla(0, 0%, 08%, 1);

	--margin: 20px;

	--padding: 20px;
	--padding-inner: 5px;
}

@font-face
{
	font-family: 'Fira Mono';
	src: url('/fonts/FiraMono-Regular.ttf');
}

body
{
	margin: 0;
	padding: 0;

	font-family: 'Fira Mono';
	font-size: 1rem;
	color: var(--color);
	background-color: var(--color-bg);
}

/*
 * Header
 */
header
{
	padding: var(--padding);

	background-color: var(--color-bg-darken);
}

header nav a.menu-item
{
	text-decoration: none;
}

/*
 * Footer
 */
footer
{
	padding: var(--padding);

	background-color: var(--color-bg-darken);
}

/*
 * Main
 */
main
{
	padding: var(--padding);
}

/*
 * General
 */
a
{
	color: var(--color);
	text-decoration: underline;
	cursor: pointer;
}

blockquote
{
	margin: 1em;
	padding-left: 1em;
	border-left: 0.25em solid var(--color-bg-lighten);
}

code
{
	font-family: 'Fira Mono', monospace;
}

h1
{
	font-size: 2em;
	font-weight: bold;
}

h2
{
	font-size: 1.5em;
	font-weight: bold;
}

h3
{
	font-size: 1.4em;
	font-weight: bold;
}

h4
{
	font-size: 1.3em;
	font-weight: bold;
}

h5
{
	font-size: 1.2em;
	font-weight: bold;
}

h6
{
	font-size: 1.1em;
	font-weight: bold;
}

p code
{
	padding: 0px 0.5em;
	border-radius: 2px;
	background-image: linear-gradient(to right, hsla(0, 0%, 15%, 1), hsla(0, 0%, 20%, 1));
	box-shadow: 0px 0px 10px 0px hsla(0, 0%, 08%, 1);
}

/*
 * Utils
 */
.font-bold
{
	font-weight: bold;
}

.text-decoration-none
{
	text-decoration: none;
}

.text-center
{
	text-align: center;
}

.text-right
{
	text-align: right;
}

.text-semi-transparent
{
	color: var(--color-transparent);
}

/*
 * Media
 */
@media (min-width: 576px) {
  body {
    font-size: 2.1rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 2.0rem;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.0rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.0rem;
  }
}
