:root
{
	--color: hsla(0, 7%, 74%, 1);
	--color-transparent: hsla(0, 7%, 74%, 0.5);
	--color-bg: hsla(0, 0%, 10%, 1);
	--color-bg-lighten: hsla(0, 0%, 30%, 1);
	--color-bg-darken: hsla(0, 0%, 08%, 1);

	--margin: 20px;

	--padding: 20px;
	--padding-inner: 5px;
}

@font-face
{
	font-family: 'Fira Mono';
	src: url('/fonts/FiraMono-Regular.ttf');
}

body
{
	margin: 0;
	padding: 0;

	font-family: 'Fira Mono';
	color: var(--color);
	background-color: var(--color-bg);
}

/*
 * Header
 */
header
{
	padding: var(--padding);

	background-color: var(--color-bg-darken);
}

header nav a.menu-item
{
	text-decoration: none;
}

/*
 * main
 */
main
{
	margin: var(--margin) 0;
}

/*
 * Footer
 */
footer
{
	padding: var(--padding);

	background-color: var(--color-bg-darken);
}

/*
 * General
 */
a
{
	color: var(--color);
	text-decoration: underline;
}

/*
 * Utils
 */
.font-bold
{
	font-weight: bold;
}

.text-decoration-none
{
	text-decoration: none;
}

.text-center
{
	text-align: center;
}

.text-right
{
	text-align: right;
}

.text-semi-transparent
{
	color = var(--color-transparent);
}
